.App {
  text-align: center;
}
.root{
  padding: 10px;
}
.paper{
  padding: 2px;
  text-align: center;
}
.input-box{
  margin-bottom: 20px;
  margin-top: 20px;
}
.select{
  min-width: 80px !important;
}
.name-column{
  button{
    background: none;
    border: none;
    cursor: pointer;
  }
}
